/* Notice the "grid-area" */
.webpage {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 40px auto 120px;
    grid-template-areas:
      "sidebar  header"
      "sidebar  main"
      "footer   footer";
  }
  /* Used in the following rulesets */
  .header {
    grid-area: header;
  }
  .main {
    grid-area: main;
  }
  .footer {
    grid-area: footer;
  }
  .sidebar {
    grid-area: sidebar;
  
    padding-right: 40px;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .profile-pic {
    width: 100%;
    border-radius: 50%;
  }
  .profile {
      display: flex;
      flex-direction: column;
      justify-content: center; 
      gap: 2px; 
  }
  .name {
    font-size: larger;
    font-weight: bold;
    margin: 5px 0px;
  }
  .user-name {
    color: white;
  }
  .side-item {
    text-align: right;
    font-size: large;
  }
  .side-item:hover {
    font-weight: bold;
    color: #588157;
  }
  
  /* Insert @Media queries here! */
  @media(max-width:1024){
    main{
      grid-template-columns:repeat(2,1fr);
    }
    .sidebar{
      padding-right:20px;
    }
    side-item{
      font-size:medium;
    }
  }
  @media(max-width:768px){
    body{
      display:flex;
      flex-direction:column;
      align-items:center;
    }
    .sidebar{
      flex-direction:row;
      justify-content:space-around;
      padding-right:0;
      width:100%
    }
    .profile{
      flex-direction:row;
      align-items:center;
      gap:10px;
    }
    main{
      grid-template-columns: repeat(2,1fr);
      gap:15px;
    }
    .profile-pic{
      width:80px;
    }
  }
  @media(max-width:480){
    main{
      grid-template-columns: 1fr;
    }
    .profile{
      flex-direction:column;
      text-align:center;
    }
    .sidebar{
      flex-direction: column;
      align-items:center;
      gap:10px;
    }
    .side-item{
      text-align:center;
    }
    .prfile-pic{
     size:30px;
    }
  }